+# Eclipse artifacts, including WTP generated manifests
+.classpath
+.project
+.settings/
+.springBeans
+MANIFEST.MF
+bin/
+
+# Maven target folder
+target/
+*.log
+
+# visual studio
+/nbproject/private/
+*.suo
+
+.Rproj.user
+/eclipse-bin/